@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
.header{

	margin: auto;
}
/*Header top*/
.topheader{
	display:inline-block;
	width: 1400px;
	background-color: white;
}

.headermenu{

	text-decoration: none;
    margin-top: 0px;
    margin: auto;
}
.headermenu li{
	display: inline;
}
.search{
	margin-left: 0px;

}


ul.hr
{
   margin: 0; /* Обнуляем значение отступов */
   padding: 10px; /* Значение полей */
}

ul.hr li
{
	display: inline; /* Отображать как строчный элемент */
	margin-left: 100px;
	margin-right: 0px; /* Отступ слева */
	padding: 0px; /* Поля вокруг текста */
}

/*Header body*/
/*background header body*/
.headerbody{
	background-image: url(../img/bg1.png);
	background-size: cover;
	height: 655px;
}

.dark{
	background-color: black;
	opacity: 0.6;
	height: 655px;
	text-align: center;

}
h1{
	margin: auto;
}

/*Header body's elements*/


.aboutus
{
	height: 670px;
	margin: auto;
	text-align: center;
}
.aboutus figure
{
	display: inline-block;
<<<<<<< HEAD
<<<<<<< HEAD
	padding: 100px;
=======
>>>>>>> 72c16f3a2b662d4d16c8e473dc057cd622058fa7
=======
>>>>>>> 72c16f3a2b662d4d16c8e473dc057cd622058fa7
}
.Ourservices
{
	padding: 190px;
	background-color: #e4fdf9;
	height: 1410px;
	margin: auto;
	text-align: center;
}
.Ourservices p
{
	padding-bottom: 115px;
}
.Ourservices figure
{
	margin: 0 30px 30px 0;
	background-color: white;
	width: 370px;
	height: 438px;
	display: inline-block;
}
.letestworks
{
	margin: 125px;
	text-align: center;
}
.letestworksbuttons
{
	margin-top: 110px;
}
.letestworksimg figure
{

	display: inline-block;
	margin: 0px 30px 30px 0px;
}
.letestworksimg
{
	display: inline-block;
	margin: 0;
	width: 1500px;
	padding-top: 120px;
	padding-bottom: 125px;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a{
	
    text-align:center;
    width:46px;
    height:46px;
    float:left;
    background:#fff;
    border:1px solid #ccc;
    box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius:46px;
    margin:0 10px 10px 0;
    padding:6px;
    color:#000;
}
.twitter a:hover{background:#00acee;color:#fff;}
.facebook a:hover{background:#3b5998;color:#fff;}
.whatsapp a:hover{background:#50b154;color:#fff;}
.dropbox a:hover{background:#1087dd;color:#fff;}

.pracingplan
{
	text-align: center;
	width: 1400px;
	margin: auto;
}
.ourteammember
{
	height: 670px;
	margin: auto;
	text-align: center;
}
.ourteammember figure
{
	display: inline-block;
	padding: 100px;
}
.blog
{
	width: 1400px;
	margin: auto;
}
.blog1
{
	margin: 0;
	padding: 10px;
	float: left;
}
.blog2
{
	margin-top: 50px;
	margin: 0;
	padding: 10px;
	float: right;
}
.blog3
{
	margin: 0;
	padding: 10px;
}

.contactus
{
	text-align: center;
	width: 1400px;
	margin: auto;
}











@import "media";
