@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}
::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}
.text-center {
	text-align: center;
}
b, strong {
	font-weight: bold;
}
.header{
	width: 1400px;
	margin: auto;
}
.topheader{
	position: relative;
	padding-bottom: 50px;
	padding-top: 50px;
	display:inline-block;
	width: 1400px;
	background-color: white;
}
li {
	display: inline-block;
	padding-left: 45px;
	list-style: none;
}
ul{
	float: right;
}
.Logo{
	position: absolute;
  top: 50%;
  transform: translate(0, -50%);
	margin-left: 115px;
}
.Search{
	display: inline-block;
	float: right;
	padding-left: 30px;
}
.headerbody{
	background-image: url(../img/bg1.png);
	background-size: cover;
	height: 655px;
	box-shadow:0 0 0 400px rgba(0, 0, 0, 0.55) inset;
	width: 100%;
}
.dark{
	padding-top: 15%;
	text-align: center;
}
.dark p,h1{
	color: white;
}
.dark a{
	display: inline-block;
	margin-top: 110px;
}
h1{
	margin: auto;
}
.aboutus
{
	margin-top: 130px;
	height: 670px;

	text-align: center;
}
.aboutus figure
{
	display: inline-block;
	padding: 100px;
}
.Ourservices
{
	padding: 190px;
	background-color: #e4fdf9;
	height: 1410px;
	margin: auto;
	text-align: center;
}
.Ourservices p
{
	padding-bottom: 115px;
}
.Ourservices figure
{
	margin: 0 30px 30px 0;
	background-color: white;
	width: 370px;
	height: 438px;
	display: inline-block;
}
.servicesbuttons figcaption{
	margin-top: 20px;
}
.servicesbuttons p{
	margin-top: 30px;
}
.letestworks
{
	margin: 125px;
	text-align: center;
}
.letestworksbuttons
{
	margin-top: 110px;
}
.letestworksimg figure
{
	display: inline-block;
	margin: 0px 30px 30px 0px;
}
.letestworksimg
{
	display: inline-block;
	margin: 0;
	width: 1500px;
	padding-top: 120px;
	padding-bottom: 125px;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a{

    text-align:center;
    width:46px;
    height:46px;
    float:left;
    background:#fff;
    border:1px solid #ccc;
    box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius:46px;
    margin:0 10px 10px 0;
    padding:6px;
    color:#000;
}
.twitter a:hover{background:#00acee;color:#fff;}
.facebook a:hover{background:#3b5998;color:#fff;}
.whatsapp a:hover{background:#50b154;color:#fff;}
.dropbox a:hover{background:#1087dd;color:#fff;}

.pracingplan
{
	text-align: center;
	width: 1400px;
	margin: auto;
}
.ourteammember
{
	height: 670px;
	margin: auto;
	text-align: center;
}
.ourteammember figure
{
	display: inline-block;
	padding: 100px;
}
.blog
{
	width: 1400px;
	margin: auto;
}
.blog1
{
	margin: 0;
	padding: 10px;
	float: left;
}
.blog2
{
	margin-top: 50px;
	margin: 0;
	padding: 10px;
	float: right;
}
.blog3
{
	margin: 0;
	padding: 10px;
}
.contactus
{
	text-align: center;
	width: 1400px;
	margin: auto;
}


.ghost-button-rounded-corners1 {
  display: inline-block;
  width: 150px;
  padding: 8px;
  color: white;
  border: 1px solid white;
  border-radius: 0px;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.ghost-button-rounded-corners1:hover,
.ghost-button-rounded-corners1:active {
	color: white;
}

.ghost-button-rounded-corners2 {
  display: inline-block;
  width: 150px;
  padding: 8px;
  color: white;
  border: 2px solid #009966;
  border-radius: 0px;
  text-align: center;
  outline: none;
  text-decoration: none;
	background-color: #009966;
}
.ghost-button-rounded-corners2:hover{
	background-color: #009966;
}
.ghost-button-rounded-corners2:active {

}

.ghost-button-rounded-corners {
  display: inline-block;
  width: 150px;
  padding: 8px;
  color: black;
  border: 1px solid black;
  border-radius: 0px;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.ghost-button-rounded-corners:hover,
.ghost-button-rounded-corners:active {
  background-color: #009966;
  color: #000;
}

@import "media";
